html {
  font-family: 'Inter', sans-serif;
  background-color: #F9FAFB;
  height: 100vh;
  color: var(--color-text);
  line-height: 1.3;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.overflow {
	overflow: hidden;
}


p {
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 20px;
	color: var(--color-black);
	font-weight: 600;
	margin: 0 0 1rem 0;
}

h2 {
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 1rem 0;
}
